@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');
   
*{
        box-sizing: border-box;
        margin: 0;
        
}


.header{
    background-color: #fff;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    width: 100%;
    padding-right: 125px;
    
}


.padding{
    padding-top: 12px;
    padding-left: 15px;
  
}

.displayflex{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-item{
    margin: 0 10px;
    list-style: none;  
}
.nav-item:active{
    border: 1px solid #64A8ED;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px solid#64A8ED;
    
}

.boton{
    background-color: #64A8ED;
    color: white;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border: 1px solid #64A8ED;
    transition: 0.6s;
}
.boton:hover{
    background-color: #5BF7F3;
    color: white;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border: 1px solid #5BF7F3;
    transition: 0.4s;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}
.black{
    color: #2e2e31;
}

.section{
    padding: 110px 80px 130px;
    text-align: center;
    
}

.displayrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    
}

.information{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 130px;
}

.buttonheader{
    color: black;
    font-weight: 400px;
    cursor: pointer;
}

.buttonheader:hover{
    color: #64A8ED;
    font-weight: 400px;
    cursor: pointer;
}

.button{
    background-color:#64A8ED;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover{
    background-color:#5BF7F3;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.me{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 800;
}

.name{

    margin-bottom: 5px;
    color: #64A8ED;
    font-size: 50px;
    font-weight: 900px;
}

.description{
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;  
    margin-top: 10px;
}

.imagen{
    width: 100;
    height: 90%;
    
}


/*segunda parte*/

.section2{
   
    background-color: #f6f7fb;
    padding: 110px 40px 130px;
    display: flex;
    justify-content: center;
    text-align:center; 
    
}

.conocimientos{
    font-size: 45px;
    font-weight: 900px; 
    display: block;
}

.parrafo{
    font-size: 16px;
    height: 229px;
    width: 400px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;

    
}

.grid{
    width:260px ;
    height:200px;
    margin:10px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    margin-top: 10px;
    transition: 0.3s;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 75px 20px 75px;
    
}

.grid:hover{
    border: 1px solid#5BF7F3;
    color:#64A8ED;
}

.caja{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 20px;
   
}

.caja2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 20px;
}

.nombre{
    font-size: 20px;
    font-weight: 700;
}

.img{
    font-size: 4.71em;
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
    transition: 0.3s;
    height: 90px;
    width: 90px;

}

/*section 3*/

.section3{

    background-color:#64A8ED;
    text-align: center;
    padding: 130px 40px 130px 40px;
    
}

.texto{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding-top: 1rem;
}

.by{

     margin-top: 40px;
     color: #fff;
     font-weight: 900px;
}

.img2{

    height: 250px;
    width: 300px;
    padding-top: 20px;

}

.section4{
    background-color: #f6f7fb;
    padding: 130px 110px 130px;
    display: flex;
    justify-content: center;
    text-align:center;
}

.grid2{

    width:348px;
    height:348px;
    margin-top: 900px;
    margin:12px 12px 12px 12px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    transition: 0.3s;
    border-radius: 8px;
    margin-bottom: 20px;
   padding: 20px 20px 20px 20px;
   
}

.grid2:hover{
    border: 1px solid #5BF7F3;
    color:#64A8ED;
    cursor: pointer;
   

}

/*SECTION5*/

.contenedor{
    border:1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 3%;
    padding: 80px 50px;
    display:flex;
    justify-content: flex-start;
    width: 100%;
}

.flexarea{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px 10px 10px 10px;
      margin:10px;
     

}

.social-link{
    display: flex;
    align-items: center;
    padding: 5px 10px 20px;
    border-radius: 50%;
    width: 15%;
}

.social-link:hover{

    background-color:#64A8ED;
    border-radius: 50%;
    color:#fff;
    width: 15%;
    text-align: center;
    cursor: pointer;
    
    
}

.hola{
   padding-left: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   

}

.hola:hover{
    color:#64A8ED;
    cursor: pointer;

}
.info{

    padding: 30px  10px;

}
.section5{
    background-color: #f6f7fb;
    padding: 130px 130px 130px;
    display: flex;
    justify-content: start;
    text-align:center;
    
}
    

/* formulario*/



.formnombreapellido{
    display: flex;
    flex-direction: row;
   
    
}

.formnombre{
     display: flex;
     flex-direction: column;
     text-align: start;
     font-weight: 600;

}

.formapellido{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 600;

}

.formEmail{

    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 600;
    width: 50%;
}

.formtexto{
     display: flex;
     flex-direction: column;
     text-align: start;
     font-weight: 600;
     width: 50%;

}

.formulario{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px 10px 10px;
    margin-left: 250px;
   
   
}


.label{
    
        margin-bottom: 10px;
        display: block;
        font-weight: 600;
        margin-top: 10px;
        padding-right: 10px;
       
               
}

.control:hover{
     border: 1px solid #64A8ED;
     transition: 0.3s;

}


.control{
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        background-color:#f6f7fb;
    
   
}

.enviar{
    margin-top: 10px;
}

/* footer*/


.footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px 30px;
    background-color: #64A8ED;
    color: white;
    width: 100%;
   
    

  
}

.f{
    padding-top: 20px;
    padding-bottom: 20px; 
   

}

.pie{

    text-align: center;
    font-size: 1.2em;
    padding-top: 30px;
}
 .pie2{

    cursor:pointer;
 }

.footer2{

    display: block;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    color:#64A8ED;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.7rem;
    text-align: center;
    transition: 0.1s;
    margin-top: 20px;
    margin: 0 auto;
}

.footer2:hover{

    background-color: #64A8ED;
    color:#fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
   
}

    

@media screen and (max-width:560px){
    
    *{
        box-sizing: border-box;
        overflow-x:hidden;
        margin:0;
    }
    .header{
       
        
        width: 0;
    }
    
    .body{
       
        height: auto;
        width: auto;
       
     
    }
        
    .displayflex{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    
    
    .section{
        text-align: start;
        width: auto;
        
        
    }
    
    .displayrow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        

    }
    .information{
        flex-direction: flex-start;
    }

    .section2{
   
        
        display: flex;
        justify-content: flex-start;
        text-align:center; 
        width: 100%;
        
    }

    .imagen{
       
        width:300px;
    }
    
    .conocimientos{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       font-size: 40px;
       width: auto;


    }

    .parrafo{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
      
      
    }
    
    .caja{
    
      display: flex;
      flex-direction: column;
      justify-content: wrap;
      margin-top: 40px;
       
       
    }
    
    .caja2{
        display: flex;
        flex-direction: column;
        justify-content: wrap;
        margin-top: 40px;
       
    }

    .section3{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;  
        width: auto;

        
    }
    
    .section4{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: auto;
    }
    .grid2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
   
}
    .caja3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

    .section5{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: auto;
    }

    .contenedor{
        
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        
}

    .formulario{
       

            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
           
            
    }

    .formnombreapellido{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

   

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        
  
    }
        
    
    
    .pie2{
        width: 0;
    }
}


